# Ignore possible build & documentation
docs/_build
docs/r2s
scripts/r2s/mcnp

# Ignore various temp files
*.pyc
.*.swp
*~
*.o
*.mod

# Ignore mcnp output files
out?
runtp?
como?
source_debug

# Ignore binary files
#

# Ignore specific files
