# Ignore possible build & documentation
docs/_build
docs/r2s

# Ignore various temp files
*.pyc
.*.swp
*~

# Ignore mcnp output files
out?
runtp?
como?
source_debug

# Ignore binary files
#

# Ignore specific files
